nav {
  background-color: $bg-nav-yellow;
  border-bottom: $border-bottom-nav;
  box-shadow: $box-shadow;
  min-height: 45px;
}

header {
  background-color: $bg-header-yellow;
  border-bottom: $border-bottom-header;
  box-shadow: $box-shadow;
}

.logo {
  width: 100%;
  max-width: 140px;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

a {
  color: white;
}

a.active {
  font-weight: bold;
}

a:hover {
  color: black;
}
