$bg-nav-yellow: #d5a91a;
$bg-header-yellow: #d4a60e;
$border-nav-color: #bb9519;
$grey: #afafaf;
$box-shadow-color: rgba(0, 0, 0, 0.4);
$box-shadow-color-border: rgba(0, 0, 0, 0.2);

$box-shadow: 5px 5px 10px $box-shadow-color;
$box-shadow-border: 5px 5px 10px $box-shadow-color-border;

$border-bottom-nav: 1px solid $border-nav-color;
$border-bottom-header: 1px solid $grey;
